@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding:0;
    margin:0;
}
header{
    z-index: 10001 !important;
}
nav a.active {
    color: purple;
    font-weight: 700;
    border-bottom: 2px solid transparent; /* Initial border with no color */
    border-bottom-color: blue;
    border-radius: 5px; /* Add border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
    transition: border-bottom-color 0.3s ease, box-shadow 0.3s ease; /* Transition effect for border color and box shadow */
}


.swiper {
    width: 100%;
    height: 100%;
    /* z-index: -10; */
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:42px;
    border:1px solid indigo;
    /* box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(93, 173, 236, 0.23); */

  }

  .swiper-slide img {
    display: block;
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin: 12px auto;
  }
